@import url('../../App.css');
.dashboard{
  width: 100%;
  min-height: 90vh;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}